html{
  overflow-x: hidden;
  scroll-behavior: smooth;

}


.navbar{
  background-color: #800000 !important;
}
.nav-item a {
font-family: 'Lato', sans-serif;
    color: 	#EEE8AA !important;
}

.navbar-nav{
  font-size: 25px !important;
}

.navbar-brand{
  font-size: 1.5rem;
}

.navbar .navbar-collapse {
  text-align: center;
}
.custom-toggler.navbar-toggler {
    border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



#home{
    overflow-x: hidden;
    background-image: url(Pic2.jpg);
    background-repeat: no-repeat;
  background-size:cover;
    overflow-x: hidden;



}


#mainTitle{
  font-size: 7rem;
  font-family: 'Lato', sans-serif;
  color: #800000;

}

#subTitle{
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  color: #800000;
  text-decoration: underline;

}

.lead{
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
    color: #340000;

}

hr{
   border-width: 3px;
   background-color: black;
}

.pull-right{
  height: auto;
  overflow-x: hidden;
  background-repeat: no-repeat;
background-size:cover;

}



#sub{
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
    color: #340000;
}
.card{
  border-color: white !important;
}
.card-body{
  height: 0px !important;

}
.card-title{
  height: 0px !important;
}

.social{
  background-color: #dfd0c0 !important;
}

#title{
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  color: #800000;
}

#name{
  font-size: 1.75rem;
  font-family: 'Lato', sans-serif;

}

#phone{
  color: black;
}

@media only screen and (max-width: 768px) {

      #mainTitle{
          font-size: 4rem;
      }
      #subTitle{
        font-size: 3rem;
      }

    }

    @media only screen and (max-width: 480px) {



      #mainTitle{
          font-size: 3rem;
      }
      #subTitle{
        font-size: 3rem;
      }
      .lead{
        font-size: 1.5rem;
      }
      #sub{
        font-size: 1.5rem;
      }



    }

    @media screen and (device-aspect-ratio: 40/71) {

    #mainTitle{
          font-size: 3rem;
      }
      #subTitle{
        font-size: 3rem;
      }






    }
